@model WebScenarioAccounting.SysUser

@{
    ViewBag.Title = "Дополнительно";
}

<h2>О пользователе</h2>

<div>
    <h4> О пользователе известно следующее:</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Passport)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Passport)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Surname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Surname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Patronymic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Patronymic)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Birthdate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Birthdate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Login)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Login)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TerminationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TerminationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClassifierSex.SexName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClassifierSex.SexName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClassifierUserType.TypeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClassifierUserType.TypeName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Изменить", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Вернуться к списку", "Index")
</p>
