@model IEnumerable<WebScenarioAccounting.Actuator>

@{
    ViewBag.Title = "Актуаторы";
}

<h2>Актуаторы</h2>

<input class="btn btn-primary" type="button" value="Создать" onclick="location.href='@Url.Action("Create", "Actuators")'" />
<p></p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Manufacturer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClassifierSubTypeThing.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Room1.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Manufacturer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClassifierSubTypeThing.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Room1.Name)
            </td>
            <td>
                @Html.ActionLink("Изменить", "Edit", new { id = item.id }) |
                @Html.ActionLink("Удалить", "Delete", new { id = item.id }) |
                @Html.ActionLink("Ещё..", "Details", new { id = item.id })
            </td>
        </tr>
    }

</table>
